body {
    background-color: rgb(70, 142, 236);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.367);
}

div {
    text-align: center;
    padding: 5px;
}

img {
    height: 300px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}